<tr class="product-search__product-row" data-fdcid="<%= fdcId %>">
    <td>
        <span>
            <%= title %>
        </span>
    </td>
    <td>
        <input class="product-amount product-search__amount" type="number" value="100" min="0"
            data-fdcid="<%= fdcId %>" />
        <button type="button" class="close product-search__remove-product" data-dismiss="alert" aria-label="Close"
            data-fdcid="<%= fdcId %>">
            <span aria-hidden="true">&times;</span>
        </button>
    </td>
</tr>